<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Site</title>
</head>

<body>
    <div class="container1 d-flex align-items-center justify-content-center">
        <div class="container2 text-center">
            <h2 class="text-danger">Ristorante Il Gambero Rosso</h2>
            <br>
            <p class="text-white">Delivering food for more than 18 years.</p>
            <br>
            <div class="d-flex justify-content-center">
                <a href="/menu" class="btn btn-dark mx-2">Menu</a>
                <a href="/aboutus" class="btn btn-dark mx-2">About us</a>
            </div>
        </div>
    </div>
</body>